 body{
    margin: 0px;
    position: relative;
 
 
 }   

.head{
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    /* display: none; */
}

header{
   position: sticky;
   top: 0;
    display: flex!important ;
    align-items: center;
    justify-content: space-between;
    padding: 21px 91px;
    width: 100%;
    background-color: white;
    z-index: 1;
} 
@media screen and (min-width:769px){
    header{
        z-index: 0;
    }
}

.carousel{
    /* margin-top: 112px!important; */
}
header a.icon {
    font-size: 22px;
  
    color: #8c6d2d;
    border: 2px solid #8c6d2d;
    padding: 5px 20px;
    background-color: white;
    line-height: 2;
    transition-duration: 0.5s;
  
}
header a.icon:hover{
    background-color: #8c6d2d;
    color: white ;
    

}
  

.cards{
    width: 50%;
    height: 345px;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 160px;
    padding: 50px;
}



.cards h1{
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(15, 13, 13) ;
    font-weight: 700;
}
.cards .long-heading{
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(15, 13, 13) ;
    font-weight: 700;
}
.cards p{
    font-family: 'IM Fell Double Pica', serif;
    font-size: 20px;
    color: dimgray;
}

.cards button{
    border: 2px solid #1c5155;
    padding: 22px 52px;
    font-family: 'IM Fell Double Pica', serif;
    color: #1c5155;
    transition-duration: 0.5s;
   

}
.kit{
    margin-top: 62px;
}
.mak{
    margin-top: 7px;
}
.down{
    margin-top: 66px;

}
.cards button:hover{
    background-color: #1c5155;
    color: white;
    cursor: pointer;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1!important;
}
.angle i{
    
    padding: 11px 15px; 
    background-size: 35% 35%!important;
    color: #8c6d2d;
    background-color: white!important;
    opacity: 1;
    transition-duration: 0.5s;
  
}
.angle i:hover{
    background-color: #8c6d2d!important;
    color: white;
}

.navbar{
    background-color: #63480f!important;
    padding: 12px 91px!important;
}
.navbar a{
    font-size: 14px ;
    color: #f7e3b5!important;
    text-align: center;
    padding: 10px 9px;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    transition-duration: 0.5s;

}
.navbar-nav{
    align-items: center;
}
.navbar-nav .nav-item{
    /* padding: 0px 8px!important; */
}
.navbar h3{
    display: none; 
}
.dropdown1{
    padding: 8px 16px;
    position: relative;
    transition-duration: 0.5s;
}

.navbar a:hover {
    background-color: #997528;
    text-decoration: none;
    color: #f7e3b5;
}
.dropdown1-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 58;
    text-decoration: none;
    transition-duration: 0.5s;
    
}
.dropdown1-content a{
    float: none;
    color: #362e2e!important;
    padding: 13px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1px solid #f7e3b5;
    transition-duration: 0.5s;

}
.dropdown1-content a:hover{
    background-color: #997528;
    text-decoration: none;
    color: #f7e3b5;
    border: none;


}
.dropdown1:hover .dropdown1-content{
    display: block;
    text-decoration: none;
    top: 40px;
    border: none;
    left: 0px; 
    transition-duration: 0.5s;
}
.dropdown1:hover {
    background-color: #997528;

}
.top-header{
    font-family: 'IM Fell Double Pica', serif;
    color: #b8995c;
    background-color: #63480f;
    height: 50px;
    border-bottom: 1px solid #362e2e;
}

.top-header ul li{
    font-family: sans-serif;
    list-style: none;
    padding-right: 8px;
    font-weight: 700;
    font-style: oblique;
    font-family: 'PT Serif', serif;
    align-items: center!important;
}
.top-header ul{
    display: flex;
    margin-bottom: auto;
    padding: 10px 75px;
}
.top{
    background-color: #63480f;
    display: block;
}
#myLinks{
    display: block;
}

.tittle{
    display: none;
}


.img-cards{
    display: flex;
    justify-content: space-around;
    padding: 100px 0px;
    width: 100%;
}
.BANQUETS{
    border: 1px solid #e3d9c3;
    height: 530px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    transition-duration: 1s;
    margin-left: 50px;
    margin-right: 25px;
  text-align: center;
  
  flex: 1 1 300px;
  max-width:300px

}
.BANQUETS:hover{
    background-color:#f9f3e7 ;
    border: 1px solide #e3d9c3;
}


.BANQUETS a{
    font-family: sans-serif;
    color: #181714;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 40px;
    text-decoration: none;
    transition-duration: 1s;

}
.BANQUETS a:hover{
    color:#1b5054 ;
}
.BANQUETS img{
    margin-bottom: 40px;
    margin-top: 40px;
}
.rounded-circle img{
    border-radius: 50%!important;
}

.banquet-service{
    text-align: center;
}
.banquet-service p{
    font-style: italic;
    line-height: 1.8;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    color: rgb(54, 53, 53);
}
.banquet-service a{
    text-decoration: none;
    color: #1b5054;
    font-weight: 700;
    font-size: 14px;
}


.KITCHEN-MENU{
 
    border: 1px solid #e3d9c3;
    height: 530px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    transition-duration: 1s;
    margin-right: 25px;
    
    flex: 1 1 300px;
    max-width:300px



}
.KITCHEN-MENU:hover{
    background-color:#f9f3e7 ;
    border: 1px solide #e3d9c3;

}
.KITCHEN-MENU a{
    font-family: sans-serif;
    color: #181714;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 40px;
    text-decoration: none;
    transition-duration: 1s;

}
.KITCHEN-MENU a:hover{
    color:#1b5054 ;
}
.KITCHEN-MENU{
    text-align: center;
}
.KITCHEN-MENU p{
    font-style: italic;
    line-height: 1.8;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    color: rgb(54, 53, 53);
    margin-top: 40px;
}
.kitchen-service a{
    text-decoration: none;
    color: #1b5054;
    font-weight: 700;
    font-size: 14px;
}


.HOTEL-ROOMS{
    border: 1px solid #e3d9c3;
    height: 530px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    transition-duration: 1s;
    margin-right: 50px;
    
    flex: 1 1 300px;
    max-width:300px


}
.HOTEL-ROOMS:hover{
    background-color:#f9f3e7 ;
    border: 1px solide #e3d9c3;

}
.HOTEL-ROOMS a{
    font-family: sans-serif;
    color: #181714;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 40px;
    text-decoration: none;
    transition-duration: 1s;

}
.HOTEL-ROOMS a:hover{
    color:#1b5054 ;
}
.HOTEL-ROOMS{
    text-align: center;
}
.HOTEL-ROOMS p{
    font-style: italic;
    line-height: 1.8;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    color: rgb(54, 53, 53);
    margin-top: 40px;
}
.hotel-service a{
    text-decoration: none;
    color: #1b5054;
    font-weight: 700;
    font-size: 14px;
}
.icons-and-para{
    padding: 40px 71px;
    display: flex;
    /* margin: 0px 31px;
    max-width: 320px; */
    /* flex-wrap: wrap; */
    justify-content:center;
    width: 100%;
    
}
.iconss{
    box-sizing: border-box;
    padding: 0px 11px;
    text-align: center;
    flex: 1 1 185px;
    max-width: 185px;
}
.iconss p{
    line-height: 1.8;
    font-style: italic;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    color: rgb(54, 53, 53);
}

.our-amenty h1{
    font-size: 23px;
    color: #181714;
    /* padding: 0px 152px; */
    margin: auto;
     padding-top: 80px;
     text-align: start;
     padding-left: 25px;

}
.amenities{
    width: 100%;
    background-color: #f9f3e7;
}
.customers{
    width: 100%;
}
.our-customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 433%;
    max-width: 433%;
}
.our-customers h1{
    font-size: 23px;
    color: #181714;
    /* padding: 14px 152px; */
    margin: auto;
    padding-top: 80px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    flex: 1 1 160%;
    max-width: 280%;

}
.our-customers p{
    line-height: 1.8;
    font-style: italic;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    color: rgb(54, 53, 53);
    text-align: center;
    width: 100%;
    /* margin: 10%; */
    flex: 1 1 160%;
    max-width: 222%;
    padding: 1%;


}
.our-customers strong{
    color: #1b5054;
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}
.customers-reviews-cards{
    display: flex;
    padding: 50px 0px;
    text-align: center;
}
.review-card{
    border: 1px solid #e3d9c3;
    width: 100%;
    height: 410px;
    margin: 1px 14px;
   
}
.quotes-icon{
    text-align: justify;
    margin: 25px 71px;
}
.review-card p{
    line-height: 1.8;
    font-style: italic;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 20px;
    color: rgb(54, 53, 53);
    text-align: center;
    width: 71%;
    margin: 40px 50px;
}
.review-card span{
    color: #181714;
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
}
.activities-cards{
    width: 100%;
    height: auto;
    /* flex: 1 1 320px;
    max-width: 500px; */
}
.activities-cards p{
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    color: rgb(54, 53, 53); 
    font-style: italic;
    line-height: 1.8;
}
.activities-cards h1{
    font-size: 22px;
    font-weight: 700;
}
.wedding-party{
    display: flex;
    /* margin-right: 90px; */
}
.birthday-event{
    display: flex;
    /* margin-right: 90px; */
}
.party{
    background-image: url(images/card\ 1.jpg);
    background-size: cover;
    height: 550px;
    /* margin-right: 90px; */
    

}

.wedding{
    background-image: url(images/card\ 2.jpg);
    background-size: cover;
    height: 550px;
  

}

.event{
    background-image: url(images/card\ 3.jpg);
    background-size: cover;
    height: 550px;
    /* margin-right: 90px; */
}
.birthday-party{
    background-image: url(images/card\ 4.jpg);
    height: 550px;
   

}
.white-cards{
    background-color: white;
    width: 88%;
    height: 215px;
    padding: 50px;
    left: 68px;
    position: relative;
    top: 300px;
    padding: 44px;
  
}
.lunch{
    display: flex;
    margin: 0px 52px;
}
.offers-detail{
    display: flex;
    margin-top: 39px;
    padding: 52px;
}
.lunch strong{
    color: #6f9496;
    font-size: 40px;
    font-family: 'Overpass', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
}

.lunch h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 2;
}
.lunch p{
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    color: rgb(54, 53, 53); 
    font-style: italic;
    line-height: 1.8;
}
.circle-img img{
    border-radius: 50%;
    height: 200px;
 
    margin-top: 70px;
}
.call-button button{
    padding: 33px;
    color: #1c5155;
    border: 2px solid #1c5155;
    width: 219px;
    height: 110px;
    margin: 35px;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    cursor: pointer;
    transition-duration: 1s;
}

.call-button button:hover{
    background-color: #1c5155;
    color: white;
}
.price-details{
    margin-left: 70px;
}

.reservations{
    display: flex;
}
.reservations{
    display: flex;
}
.make-reservation{
    display: flex;
    position: absolute;
    bottom: 5px;
    padding-left: 30px;
    padding-right: 62px;

}
.our-details-and-location{
    position: relative;
    background-color: #00000099;
}
.contact-info{
    display: flex;
}

.time{
    background-color: white;
    border: 1px solid wheat;
    display: flex;
    padding: 20px;
}
.days-hours p{
    font-family: initial;
    color: rgb(54, 53, 53);
    font-style: italic;
    margin-bottom: 0px;
    font-size: 14px;

}
.timing{
    FONT-SIZE: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}
.timing h5{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0px 30px;
}
.days-hours{
    display: flex;
}
.days{
    padding: 10px 30px;
}
.hours{
    padding: 10px;
}
.clock-icon{
 padding: 10px;
}
.make{
    background-color: white;
    border: 1px solid wheat;
}
.make h1{
    font-size: 23px;
    font-weight: 700;
    padding: 34px 46px;
    margin: auto;
    LETTER-SPACING: 1PX;
    font-family: sans-serif;
}
.contact{
    padding: 21px 0px;
}
.contact-info{
    border: 1px solid wheat;
    height: 151px;
    width: 35%;
    margin-top: 95px;
    background-color: white;
}
.contact p{
    padding: 0px 29px;
    padding-top: 11px;
    text-align: justify;
    width: 84%;
    margin: 0px 0px;
    font-family: initial;
    color: rgb(54, 53, 53);
    font-style: italic;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 700;
}
.contact h5{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0px 30px;
    margin-bottom: 0px;
}
.reservation-btn{
    background-color: white;
    border: 1px solid wheat;
    height: 122px;
    width: 28%;
    text-align: center;
    padding: 22px;
    margin-top: 96px;

}
.reservation-btn2{
    display: none;

}
.reservation-btn button{
        /* padding: 2px 26px; */
        width: 200px;
        height: 76px;
        border: 1px soi;
        border: 2px solid #1c5155;
        color: #1c5155;
        transition-duration: 1s;
        cursor: pointer;
}
.reservation-btn button:hover{
    background-color: #1c5155;
    color: white;
}
.layout{
    background-color: #00000099;
}
.map iframe{
    width: 100%;
}
.map-icon{
    padding: 36px;
    padding-right: 10px;
}
.map{
  opacity: 0.5;
}
.footer{
    background-color: #1f1707;
    padding-top: 30px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.containers{
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
}
.contain1{
    display: flex;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
}
.contain2{
    display: flex;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
}
.containers h3{
    font-family: sans-serif;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
}
.containers ul{
    margin: auto;
    padding: 0px;
}
.fa-angle-right{
    margin-right: 10px;
}
.containers li{
    list-style: none;
    color: #857f73;
    font-family: 'PT Serif', serif;
    font-style: italic;
    margin-bottom: 7px;
    
}
.containers li a:hover{
    color: #b8b3a9;
}
.containers a{
    text-decoration: none;
    color: #857f73;
}
.social-media i{
    font-size: 12px;
    margin-right: 10px;
}
.fa-facebook{
    color: white;
    background-color: #3B5997;
    border-radius: 50%;
    padding: 6px 8px;
}
.fa-twitter{
    color: white;
    background-color: #00aced;
    border-radius: 50%;
    padding: 6px 7px;
}
.fa-linkedin{
    color: white;
    background-color: #0074A1;
    border-radius: 50%;
    padding: 6px 7px;
}
.fa-instagram{
    color: white;
    background: radial-gradient(circle at 33% 100%, #FED373 2%, #F15245 20%, #D92E7F 42%, #9B36B7 65%, #515ECF);;
    border-radius: 50%;
    padding: 6px 7px;
}
.fa-google-plus{
    color: white;
    background-color: #D64937;
    border-radius: 50%;
    padding: 5px 4px;
}
.newsletter p{
    font-family: 'IM Fell Double Pica', serif;
    color: #857f73;
    font-size: 17px;
    font-style: italic;
}
.form-group input{
    background-color: #262013;
    border: 1px solid #262013;
    font-family:  'IM Fell Double Pica', serif;
    padding: 20px;
    font-style: italic;
    color: #495057;
}
.inp:focus{
    border-color: #8c6d2d;
    outline: #8c6d2d;
}
.newsletter button{
    border: 2px solid #8c6d2d;
    background-color: #1f1707;
    color: #8c6d2d;
    font-family: none;
    cursor: pointer;
    padding: 16px 20px;
    font-size: 16px;
    transition-duration: 1s;
}
.newsletter button:hover{
    background-color: #8c6d2d;
    color: white;
}
/* .links, .services, .social-media{
    padding: 10px;
} */
.newsletter{
    padding: 0px;
    width: 44%;
}
hr{

    border-color: #3f3114;
}
.last-line{
    text-align: center;
    padding-bottom: 15px;

}
.last-line span{
    color: #857f73;
    font-family: 'PT Serif', serif;
    font-style: italic;
}
.last-line a{
    color: #857f73;
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-decoration: none;
}

#myBtn {
    bottom: 0;
    right: 0;
    position: fixed;
    display: none;
    background-color: #8c6d2d;
    padding: 9px 16px;
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
    transition-duration: 1s;
    cursor: pointer;
}
#myBtn i{
    color: white;
    font-size: 30px;
}
#myBtn:hover{
    background-color:#1c5155;
}





@media screen and (max-width: 480px){
    .head{
       
        background-color: white;
    }
    .cards{
        width: 84%;
        height: 120px;
        top: 22%;
        left: 8%;
        padding: 18px;
        }
    .cards h1{
        font-size: 15px;
        margin: 0px;
        text-align: center;
        }
        .cards .long-heading{
            font-size: 18px;
            font-weight: 700;
        }
        .cards p{
            display: none;
        }
        header{
            padding: 20px;
        }
        .angle{
            display: none;
        }
        .cards button{
          
            height: 53%;
            text-align: center;
            padding: 0px 25px;
            font-size: 18px;
            font-weight: 700;
            width: 88%;
            margin: 8px 18px;
        }
        .cards .mak{
            margin-top: 3% ;
            font-size: 17px;
            margin-left: 6%;
            height: 45%;
            font-weight: 700;
        }
        .navbar a{
            font-weight: 100;
            padding: 8px 6px;
            font-size: 16px;
        }
        .navbar{
                padding:0px;
    
        }
        .img-cards {
            max-width: 720px;
            flex-wrap: wrap;
        } 
        .img-cards .BANQUETS, .KITCHEN-MENU, .HOTEL-ROOMS{
            margin: 5px 20px;
            text-align: center;
        }
        .icons-and-para{
            max-width: 320px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        
         .review-card{
             flex: 1 1 414px;
             max-width: 414px;
             flex-wrap: wrap;
             margin: 10px;
         }
         .customers-reviews-cards {
            display: flex;
            padding: 50px 0px;
            text-align: center;
            flex-wrap: wrap;
            flex: 1 1 414px;
            max-width: 414px;
            width: 100%;
        }
        .wedding-party{
            flex-wrap: wrap;
            flex: 1 1 320px;
            max-width: 320px;
            margin-right: 0px;
        }
        .birthday-event {
            flex-wrap: wrap;
            flex: 1 1 320px;
            max-width: 320px;
            margin-right: 0px;
        }
        .white-cards{
            width: 70%;
            height: 360px;
            top: 111px
        }
        .make-reservation {
            position: unset;
            display: block;
        }
        .time {
            display: block;
            width: 100%;
            height: 300px;
        }
        .timing{    
            line-height: 38px;
        }
        .our-details-and-location{
   
            background-color: white;
        }
        .make-reservation {
            padding: 0px;
        }
        .contact-info{
            width: 100%;
            margin-top: 0px;
        }
        .days{
            padding: 0px;
        }
        .hours{
            padding: 0px 38px;
        }
        .make h1{
            padding: 34px 19px;
        }
        .timing h5{
            padding: 0px;
        }
        .contact-info{
            display: block;
            height: 200px;
        }
        .map-icon{
            padding: 20px;
        }
        .contact{
            padding: 9px 0px;
        }
        .reservation-btn{
            width: 100%;
            margin-top: 0px;
        }
        .reservation-btn button{
            width: 100%;
        }
        .lunch{
            display: block;
            margin: 0px;
        }
        .contain1{
            flex-wrap: wrap;
            padding: 8px;
        }
        .contain2{
            flex-wrap: wrap;
            padding: 0px 27px;
        }
        .form-group input {
            width: 100%;
            height: 60px;
            padding: 5px;
            color: #b3bcc5;
            font-size: 13px;
        }
        .newsletter{
            width: 100%;
        }
        .newsletter button{
            padding: 16px 19px;
        }
        .containers{
            padding:20px;
        }
        .last-line span{
            font-size: 13px;
            padding: 8px;
        }
        #myBtn{
            padding: 1px 8px;
        }
        .navbar h3{
            display: block; 
        }
        .navbar{
            padding: 0px!important;
        }



}
@media screen and (max-width:768px) and (min-width:481px){
    .lunch{
        display: flex;
        margin: 0px;
    }
    .reservations {
        display: flex;
        background-color: white;
    }
    .make-reservation{
        position: unset;
        padding: 0px 16px;
    }
    .time{
        width: 369px;
        height: 160px;
        padding: 0px;
        padding-top: 15px;
        margin: 0px;
    
    }
    .timing{
        width: 100%;
    }
    .days {
        padding: 10px 30px;
    }
    .hours {
        padding: 10px;
    }
    .contact-info {
        border: 1px solid wheat;
        height: 162px;
        width: 100%;
        margin-top: 78px;
        background-color: white;
    }
    .map-icon {
        padding: 20px;
        padding-right: 0px;
    }
    .contact {
        padding: 12px 0px;
    }
   .make h1{
    padding: 25px 44px;
   }
   .reservation-btn {
       display: none;
   }
   .reservation-btn2{
        display: block;
        background-color: white;
        border: 1px solid wheat;
        height: 122px;
        width: 96%;
        text-align: center;
        padding: 22px 25px;
        margin-left: 16px;
    }
    .reservation-btn2 button{
        width: 100%;
        height: 76px;
        border: 1px soi;
        border: 2px solid #1c5155;
        color: #1c5155;
        transition-duration: 1s;
        cursor: pointer;
    }
    .our-details-and-location{
        background-color: white;
    }
    .navbar h3{
        display: block; 
    }
    .navbar{
        padding: 0px!important;
    }

}
@media screen and (max-width:767px){
    .call-button button{
        width: 90%;
        height: 64px;
        margin: 35px;
        padding: 0px;

    }
} 
@media screen and (max-width:768px){
    header{
        z-index: 1;
    }

    .call-button button{
        width: 80%;
        height: 64px;
        
        padding: 0px;

    }
   
    .offers-detail {
        padding: 0px;
    }
    .circle-img img{
        height: 313px;
        margin-left: 16px;
    }
    .make-reservation{
        position: unset;
    }
    .tittle{
        display: flex;
        background-color: #63480f;
        border: 15px solid #63480f;
       
    
    }
    .tittle button{
        width: 100%;
        padding: 14px;
        border-color: #8c6d2d;
        background-color: #8c6d2d;
        border: none;
        color: #f7e3b5;
        text-align: right;
        height: 67px;
        font-family: auto;
        font-size: 20px;
    }
    .bars a{
        color: #f7e3b5;
        font-size: 19px;
    }
    .bars {
        width: 100%;
    }
    .top{
        display: block;
    }
    .top-header{
        display: none;
    }
    .navbar-toggler{
        margin: 21px;
    }
    .navbar h3 {
        margin: 20px;
        color: #f7e3b5;
        font-family: auto;
        font-size: 23px;
    
    }
    .navbar {
        padding: 0px!important;
        border: 18px solid #63480f;
        background: #8c6d2d!important;
    }
    
    
}
@media screen and (max-width:1440px) and (min-width:769px){
    .lunch-offer{
        display: flex;
        margin-right: 0px;
    }
    .lunchh1{
        font-size: 24px;
    }
    .call-button button{
        margin: 161px 20px;
    }
}
@media screen and (max-width: 990px) and (min-width:481px){
    .angle{
        display: none;
    }
    .cards p{
        display: none;
    }
    .cards h1{
    font-size: 23px;
    margin: 0px;
    text-align: center;
    }
    .cards .long-heading{
        font-size: 23px;
        font-weight: 700;
    }
    .cards{
    width: 84%;
    height: 120px;
    top: 45%;
    left: 8%;
    padding: 18px;
    
    }
    .cards button{
        margin: 1% 26%;
        height: 62%;
        text-align: center;
        padding: 1px 22px;
        font-size: 20px;
        font-weight: 700;
        width: 45%;
    }
    .cards .mak{
        height: 60%;
        font-size: 20px;
        width: 45%;
        margin-right: 70%;
    }
    .img-cards {
        max-width: 720px;
        flex-wrap: wrap;
        justify-content: flex-start;
    } 
    .img-cards .BANQUETS, .KITCHEN-MENU, .HOTEL-ROOMS{
        margin: 5px 10px;
        /* text-align: center; */
    }
    /* .icons-and-para{
        max-width: 320px;
        flex-wrap: wrap;
        justify-content: flex-start;
    } */
    .review-card{
        flex: 1 1 727px;
        max-width: 727px;
        flex-wrap: wrap;
        height: 300px;
        margin: 14px 0px;
    }
    .review-card p{
        margin: auto;
        
    }
    .review-card span{
        margin-top: 10px;
    }
    
    .customers-reviews-cards {
       display: flex;
       padding: 50px 0px;
       text-align: center;
       flex-wrap: wrap;
       flex: 1 1 728px;
       max-width: 728px;
       width: 100%;
       margin: 0px 20px;
   }
   .white-cards{
    width: 90%;
    height: 221px;
    top: 135px;
    left: 17px;
   }
   .white-cards p{
       font-size: 15px;
   }
   .activities-cards{
   
    width: 100%;
}

   
   .wedding-party{
    /* flex-wrap: wrap; */
    flex: 1 1 320px;
    max-width: 701px;
    margin-right: 0px;
    display: flex;
}
.party, .wedding, .event, .birthday-party{
    height: 430px;

}
.birthday-event {
    /* flex-wrap: wrap; */
    flex: 1 1 320px;
    max-width: 701px;
    margin-right: 0px;
    display: flex;
}
}
@media screen and (max-width:990px) and (min-width:1024px){
    .activities-cards{
        display: flex;
        width: 100%;
    }
    .white-cards{
        width: 74%;
        height: 245px;
        top: 100px;
        left: 40px;
       }
       .white-cards p{
           font-size: 11px;
       }
       .wedding-party{
        /* flex-wrap: wrap; */
        flex: 1 1 320px;
        max-width: 701px;
        margin-right: 0px;
        display: flex;
    }
    .party, .wedding, .event, .birthday-party{
        height: 430px;

    }
    .birthday-event {
        /* flex-wrap: wrap; */
        flex: 1 1 320px;
        max-width: 701px;
        margin-right: 0px;
        display: flex;
    }
}
